#projectsTitle {
    margin: 20px auto 10px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 28px; /* Increased font size */

  }
  
  #allProjectsTitle {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 15px;
  }
  
  .projectsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #projectsContainer {
    width: 400px; /* Adjusted width */
    padding: 40px; /* Adjusted padding */
    background: #000;
    box-sizing: border-box;
    box-shadow: 0 0 15px 5px rgba(0, 123, 255, 0.5), 0 0 25px 10px rgba(0, 123, 255, 0.5), 0 0 30px 15px rgba(0, 123, 255, 0.5), 0 0 35px 20px rgba(0, 123, 255, 0.5);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    
  }
  
  #projectsListContainer {
    width: 100%;
  }
  
  .projectItem {
    margin-bottom: 20px;
  }
  
  .projectDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .projectDetails p {
    margin-bottom: 8px;
    color: #fff;
  }
  
  .projectDetails p a {
    color: #007bff;
    text-decoration: none;
  }
  
  @keyframes neonBorder {
    0% {
      box-shadow: 0 0 15px 5px rgba(0, 123, 255, 0.5), 0 0 25px 10px rgba(0, 123, 255, 0.5), 0 0 30px 15px rgba(0, 123, 255, 0.5), 0 0 35px 20px rgba(0, 123, 255, 0.5);
    }
    100% {
      box-shadow: none;
    }
  }