#newProjectTitle {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    /* Additional title styles */
  }
  
  #dropzoneContainer {
    text-align: center;
    /* Additional container styles */
  }
  
  @keyframes neonBorder {
    0% {
      box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5), 0 0 10px 5px rgba(0, 123, 255, 0.5), inset 0 0 5px rgba(0, 123, 255, 0.5);
      border: 2px solid rgba(0, 123, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.7), 0 0 15px 7px rgba(0, 123, 255, 0.7), inset 0 0 7px rgba(0, 123, 255, 0.7);
      border: 2px solid rgba(0, 123, 255, 0.7);
    }
    100% {
      box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5), 0 0 10px 5px rgba(0, 123, 255, 0.5), inset 0 0 5px rgba(0, 123, 255, 0.5);
      border: 2px solid rgba(0, 123, 255, 0.5);
    }
  }
  
  #dropzone {
    border-radius: 5px;
    animation: neonBorder 2s infinite;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #000; /* Solid black background */
    color: #fff; /* White text */
    /* Additional dropzone styles */
  }
  
  #newProjectTitle {
    color: black; /* White text */
    text-align: center;
    /* Additional title styles */
  }