#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the navbar */
  background-color: #333;
  color: #fff;
  padding: 10px 20px; /* Adjust padding to fit content within the 50px height */
  z-index: 1000;
  /* Add other styles like box-shadow, etc. */
}

/* Navbar content */
#inner-nav {
  display: flex;
  height: 15px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
 
}

/* Logo styles */
#logo {
  /* Adjust styles for the logo container */
  font-size: 18px;
  font-weight: bold;
  /* Other styles */
}

/* Navbar links */
#nav-links {
  display: flex;
  align-items: center;
}

#left-links,
#right-links {
  display: flex;
  gap: 20px; /* Adjust gap between links */
  height: 100%; /* Ensure the links fill the entire height */
  align-items: center; /* Vertically center the links */
}

#right-links {
  margin-left: auto;
}

/* Style individual links */
#main-nav a {
  color: #fff;
  text-decoration: none;
  /* Add other link styles (hover effects, etc.) */
}



