#main-nav {
  position: fixed;
  background-color: hwb(199 1% 82%);
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the navbar */
  color: #fff;
  padding: 8px 12px 13px 32px; /* Adjust padding to fit content within the 50px height */
  z-index: 1000;

  /* Add other styles like box-shadow, etc. */
}

/* Navbar content */
#inner-nav {
  display: flex;
  height: 15px;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  
 
}

/* Logo styles */
#logo {
  /* Adjust styles for the logo container */
  font-size: 18px;
  font-weight: bold;
  /* Other styles */
}

/* Navbar links */
#nav-links {
  display: flex;
  align-items: center;
}

#left-links,
#right-links {
  display: flex;
  gap: 20px; /* Adjust gap between links */
  height: 100%; /* Ensure the links fill the entire height */
  align-items: center; /* Vertically center the links */
}

#right-links {
  margin-left: auto;
  
}
#left-links {
  margin-left: 17 0px;
  
}

/* Style individual links */
#main-nav a {
  color: #fff;
  text-decoration: none;
  /* Add other link styles (hover effects, etc.) */
}
#nav-search{
  
  margin-left: 10px;
  justify-content: right;

}


